body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#message {
    font-size: 24px;
    font-weight: bold;
}

#countdown {
    font-size: 18px;
    color: #666;
}

#logs {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
}

#start-mining {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-mining:hover {
    background-color: #3e8e41;
}
