body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    margin: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

header {
    background-color: #292929;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.sidebar {
    background-color: #2f2f2f;
    padding: 20px;
    width: 200px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #aaa;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a.active, .sidebar ul li a:hover {
    background-color: #444;
    color: #fff;
}

.license {
    margin-top: 50px;
    font-size: 12px;
    color: #888;
    text-align: center;
}

main {
    flex: 1;
    background-color: #1c1c1c;
    padding: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.blockchain-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.active {
    background-color: #5ab74e;
}

.results-section {
    display: flex;
    justify-content: space-between;
}

.log {
    flex: 1;
    margin-right: 20px;
}

.log-output {
    background-color: #1c1c1c;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #444;
    border-radius: 5px;
}

.log-output p {
    color: #d9534f;
    font-family: "Courier New", Courier, monospace;
}

.found {
    flex: 1;
    padding: 10px;
    background-color: #1c1c1c;
    border: 1px solid #444;
    border-radius: 5px;
}

.withdraw {
    background-color: #007bff;
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

/* Dashboard Styles */
.dashboard-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Settings Styles */
.settings-content {
    font-size: 16px;
}

.settings-content label {
    margin-right: 10px;
}